:root{
    --gradient:linear-gradient(90deg, #646464, #646464);
}

*{
    font-family: 'Open Sans', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    border:none; 
    outline: none;
    text-decoration: none;
    transition: all .2s linear;
    background-color: ;
}

*::selection{
    background:#838383;
    color:#fff;
}

html{
    font-size: 70%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.5rem;
}

html::-webkit-scrollbar-track{
    background:#333;
}

html::-webkit-scrollbar-thumb{
    background:linear-gradient(#999999, #646464);
}

section{
    min-height: 100vh;
    padding:1rem 8%;
    padding-top:6rem;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left: 0;
    z-index: 1000;
    padding:1.5rem 8%;
    background:var(--gradient);
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
}

header .logo{
    color:#fff;
    font-size: 2.5rem;
}

header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header .navbar ul li{
    margin:0 3rem;
}

header .navbar ul li a{
    font-size: 1.65rem;
    color:#fff;
}

header .navbar ul li a.active,
header .navbar ul li a:hover{
    color:rgb(255, 255, 255);
    text-shadow: 0px 0px 30px rgb(0, 0, 0),0px 0px 30px rgb(0, 0, 0),0px 0px 10px #000000,0px 0px 10px #000000;
}

header #menu{
    font-size: 3rem;
    color:#fff;
    cursor: pointer;
    display: none;
}

.home{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-flow: column;
    background:url(../images/baca_buku.png) no-repeat;
    background-size: 900px 700px;
    background-position: top right;
    background-attachment: scroll;
    position: relative;
    text-align: left;
}

.home h1{
    font-size: 3.5rem;
    color:#666;
    width: 90rem;
}

.home p{
    font-size: 1.8rem;
    color:#999;
    padding:1.5rem 0;
    width:50rem;
}

.btn{
    padding:.7rem 2.4rem;
    font-size: 1.5rem;
    color:#fff;
    background:var(--gradient);
    border-radius: 5rem;
    margin-top: 1.1rem;
    cursor: pointer;
    box-shadow: .5rem .3rem rgba(0,0,0,.3);
    position: absolute;
    overflow: hidden;
    z-index: 0;
}

.btn::before{
    content: '';
    position: absolute;
    top:-1rem; left:-100%;
    background:#fff9;
    height:150%;
    width:20%;
    transform: rotate(25deg);
    z-index: -1;
}

.btn:hover::before{
    transition: .3s linear;
    left: 120%;
}

.heading{
    color:#444;
    padding:1rem;
    font-size: 4rem;
    text-align: center;
}

.program .box-container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.program .box-container .box{
    width:33rem;
    border: .5rem solid rgba(0, 0, 0, 0.3);
    position: relative;
    margin:1.5rem;
    background-color: #e6e6e6;  
}

.program .box-container .box img{
    height:20rem;
    width: 100%;
    object-fit: none;
}

.program .box-container .box .desc{
    padding:2rem;
}

.program .box-container .box .desc .stars i{
    color:#000000;
    font-size: 1.7rem;
    padding:1rem .1rem;
}

.program .box-container .box .desc p{
    padding:.8rem 0;
    color:#666;
    font-size: 1.5rem;
}

.program .box-container .box .desc .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    border-top: .1rem solid rgba(0,0,0,.3);
}

.footer{
    background:#333;
}

.footer .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer .box-container .box{
    margin:1.5rem;
    text-align: center;
    flex:1 1 25rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:#fff;
    padding:1rem 0;
}

.footer .box-container .box p{
    font-size: 1.5rem;
    color:#eee;
    padding:.7rem 0;
}

.footer .box-container .box p i{
    padding-right: .5rem;
    color:#8a8a8a;
}

.footer .box-container .box a{
    font-size: 1.5rem;
    display: block;
    padding:.5rem 0;
    color:rgb(255, 255, 255);
}

.footer .box-container .box a:hover{
    text-decoration: underline;
}

.body-reg{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-flow: column;
    position: relative;
    text-align: left;
}

.body-reg .register h2{
    font-size: 5rem;
    color:#666;
    width: 130rem;
    padding:2rem;
    text-align: center;
}

.body-reg .register p{
    font-size: 2rem;
    color:#999;
    padding:0rem;
    width:50rem;
}

.body-reg .register .register-title {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-wrap: wrap;
}

.body-reg .register .register-title {
    width:55rem;
    position: relative;
    margin:1rem;  
}

.body-reg .register .register-input {
    border-radius: 10px;
    margin:1.5rem;
    width:63rem;
    padding:0.5rem;
    border: .5rem double rgba(0, 0, 0, 0.623);
    color:#666;
    font-size: 1.5rem;
    background-color: #e6e6e6;
}

select {
    border-radius: 10px;
    margin:1.5rem;
    width:50rem;
    padding:0.5rem;
    border: .5rem double rgba(0, 0, 0, 0.623);
    color:#666;
    font-size: 1.5rem;
    background-color: #e6e6e6;
}

.button-reg {
    padding:.7rem 2.4rem;
    font-size: 1.5rem;
    color:#fff;
    background:var(--gradient);
    border-radius: 5rem;
    margin-top: 1.1rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.button-reg::before{
    content: '';
    position: absolute;
    top:-1rem; left:-100%;
    background:#fff9;
    height:150%;
    width:20%;
    transform: rotate(25deg);
    z-index: -1;
}

.button-reg:hover::before{
    transition: .3s linear;
    left: 120%;
}

.form h3{
    color:#444;
    padding:1rem;
    font-size: 4rem;
    text-align: center;
}

.body-bayar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    text-align: center;
}

.body-bayar .bayar-title {
    font-size: 4.5rem;
    color:#666;
    width: 90rem;
}

.body-bayar .bayar p{
    font-size: 1.8rem;
    color:rgb(112, 112, 112);
    padding:1.5rem 0;
    width:50rem;
    border-radius: 10px;
    margin:1.5rem;
    width:50rem;
    padding:0.5rem;
    border: .5rem double rgba(0, 0, 0, 0.623);
}

.login{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-flow: column;
    background:url(../images/baca_buku.png) no-repeat;
    background-size: 900px 700px;
    background-position: top right;
    background-attachment: scroll;
    position: relative;
    text-align: left;
}

.login-box{
    width:50rem;
    height: 50rem;
    border: .5rem double rgba(0, 0, 0, 0.856);
    position: relative;
    margin:1.5rem;
    background-color: #a1a1a1;  
    border-radius: 10px;
    box-sizing: border-box;
}

.login-input {
    border-radius: 12px;
    margin:1.5rem;
    margin-top: 5.5rem;
    width:46rem;
    padding:0.5rem;
    border: .5rem solid rgba(0, 0, 0, 0.623);
    color:#666;
    font-size: 2rem;
    background-color: #ffffff;
}

.login .login-container .login-box .button-login {
    display: grid;
    padding:1.4rem 3.4rem;
    font-size: 1.4rem;
    color:#fff;
    background:var(--gradient);
    border: .3rem outset rgba(63, 63, 63, 0.329);
    border-radius: 12px;
    margin-top: 5.1rem;
    cursor: pointer;
    position: relative;
    left: 28%;
    width: 45%;
}
